<html lang="en">
<%- include("./Partials/header.ejs") %>
<style>
  .blogs a{
      display: block;
      margin: 40px 0;
      padding-left: 30px;
      border-left: 6px solid crimson;
    }
    .blogs a:hover h3{
      color: crimson;
    }
</style>
<%- include('./Partials/lectcss.ejs')  %> 

<body>
  <%- include('./Partials/copycss.ejs')  %>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a href="/blogs/<%= blog._id %> ">
        <h3 class="title"><%= blog.title %></h3>
        <p class="snippet"><%= blog.snippet %></p></a>
      <% }) %>
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %>
    
  </div>
</body>
</html>